<header th:fragment="header" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}">
                <span class="brand-mark"></span>
                <span class="brand-text" th:text="#{msg.title}">Taller Go</span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">
                            <i class="bi bi-house-door"></i>
                            <span th:text="#{msg.nav.home}">Inicio</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/mechanics}">
                            <i class="bi bi-wrench-adjustable-circle"></i>
                            <span th:text="#{msg.nav.mecanicos}">Mecanicos</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/workshops}">
                            <i class="bi bi-buildings"></i>
                            <span th:text="#{msg.nav.workshops}">Talleres</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/brands}">
                            <i class="bi bi-badge-ad"></i>
                            <span th:text="#{msg.header.brands}">Marcas</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/vehicles}">
                            <i class="bi bi-car-front"></i>
                            <span th:text="#{msg.header.vehicles}">Vehiculos</span>
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link nav-link-admin" th:href="@{/users}">
                            <i class="bi bi-people"></i>
                            <span th:text="#{msg.header.users}">Usuarios</span>
                        </a>
                    </li>
                </ul>

                <div class="nav-meta ms-lg-auto">
                    <form method="get" class="lang-switch" th:action="@{/}">
                        <select id="langSelect" name="lang" class="form-select form-select-sm" onchange="this.form.submit()" aria-label="Idioma">
                            <option value="es" th:selected="${#locale.language == 'es'}">ES</option>
                            <option value="en" th:selected="${#locale.language == 'en'}">EN</option>
                        </select>
                    </form>

                    <div class="dropdown text-end" sec:authorize="isAuthenticated()">
                        <a href="#" class="avatar-chip text-decoration-none dropdown-toggle"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <img th:src="@{/images/avatar.svg}" alt="avatar">
                            <span class="avatar-copy">
                                <small>Sesion activa</small>
                                <span class="avatar-name" sec:authentication="name">usuario@email.com</span>
                            </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end text-small shadow">
                            <li><a class="dropdown-item" th:href="@{/profile/edit}" th:text="#{menu.editProfile}">Perfil</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form th:action="@{/logout}" method="post" class="m-0">
                                    <button type="submit" class="dropdown-item text-danger" th:text="#{menu.logout}">
                                        Salir
                                    </button>
                                </form>
                            </li>
                        </ul>
                    </div>

                    <div sec:authorize="!isAuthenticated()">
                        <a th:href="@{/login}" class="btn btn-outline-light nav-login-btn" th:text="#{spring.security.ui.login.submit}">Entrar</a>
                    </div>
                </div>

            </div>
        </div>
    </nav>
</header>