<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(#{msg.vehicle-detail.title})}"></head>

<body class="d-flex flex-column h-100">
<header th:replace="~{fragments/header :: header}"></header>

<main class="form-page">
    <div class="form-card">
        <h1><span th:text="#{msg.vehicle-detail.title}">Detalle</span>: <span th:text="${vehicle.matricula}"></span></h1>

        <div class="mt-4">
            <h5 th:text="#{msg.vehicle-detail.section.vehicleData}">Datos</h5>
            <dl class="row">
                <dt class="col-sm-3" th:text="#{msg.vehicle-detail.field.id}">ID</dt>
                <dd class="col-sm-9" th:text="${vehicle.id}"></dd>
                <dt class="col-sm-3" th:text="#{msg.vehicle-detail.field.model}">Modelo</dt>
                <dd class="col-sm-9" th:text="${vehicle.model}"></dd>
                <dt class="col-sm-3" th:text="#{msg.vehicle-detail.field.matricula}">Matrícula</dt>
                <dd class="col-sm-9" th:text="${vehicle.matricula}"></dd>
                <dt class="col-sm-3" th:text="#{msg.vehicle-detail.field.year}">Año</dt>
                <dd class="col-sm-9" th:text="${vehicle.year}"></dd>
            </dl>
        </div>

        <div class="mt-4" th:if="${vehicle.brand != null}">
            <h5 th:text="#{msg.vehicle-detail.section.brand}">Marca</h5>
            <dl class="row">
                <dt class="col-sm-3" th:text="#{msg.vehicle-detail.brand.field.name}">Nombre</dt>
                <dd class="col-sm-9">
                    <a th:href="@{/brands/detail(id=${vehicle.brand.id})}" th:text="${vehicle.brand.name}"></a>
                </dd>
            </dl>
        </div>

        <div class="mt-4 text-center">
            <a th:href="@{/vehicles}" class="btn btn-secondary" th:text="#{msg.vehicle-detail.action.back}">Volver</a>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
<div th:replace="~{fragments/scripts :: scripts}"></div>
</body>
</html>